<style>
  .lds-container {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;

    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #E96B72;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
</style>

<style>
  @media (min-width: 767px) {
    .logo {
      justify-content: space-between !important;
    }

    .logo-2 {
      display: block !important;
    }

    .wizard {
      padding: 40px 20px 20px;
    }

    .block {
      padding: 0 90px 0 100px !important;
    }

    .footer {
      font-size: 20px !important;
    }

    .form-wrapper {
      margin-top: 0 !important;
      padding-bottom: 50px;
    }

    .content {
      max-height: 500px !important;
    }

    .form-address > .form-holder {
      width: 33% !impotant;
    }

    .booking-price {
      font-size: 40px !important;
    }
  }

  .booking-price {
    font-size: 25px;
    font-weight: bold;
    color: #E96B72
  }

  .actions ul {
    flex-direction: row;
  }

  .form-address > .form-holder {
    width: 100%;
  }

  body {
    background: #F1D1D4;
  }

  .booking-container {
    color: #999;
    background: #F1D1D4;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    height: calc(var(--vh, 1vh) * 100 - 100px);
    width: calc(var(--vw, 1vw) * 100);
  }

  .form-wrapper {
    margin-top: -100px;
    width: 826px;
    height: auto;
    background: #fff;
    box-shadow: 0px 0px 40px 30px pink;
  }

  .block {
    padding: 10px;
  }

  .wizard {
    padding: 10px;
  }

  .content {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
  }

  .content > section > h3 {
    font-size: 25px;
  }

  .hidden {
    display: none !important;
  }

  .show {
    display: block !important;
  }

  .list {
    min-height: 100px;
  }

  .list-item {
    display: block;
    margin: 20px 0px;
    padding: 10px;
    border: 1px solid #e6e6e6;
    color: #999;
  }

  .list-item:first-child {
    margin-top: 0px;
  }

  .list-item:last-child {
    margin-bottom: 0px;
  }

  .list-item.active {
    border-width: 1px;
    border-color: #8eb852;
  }

  .list-item.error {
    border-width: 1px;
    border-color: red;
  }

  .img > img {
    width:100%;
    height:100%;
    object-fit: contain;
  }

  .service-item .img {
    display: inline-block;
    height: 48px;
    width: 48px;

    margin-right: 10px;
    background: #eee;
  }

  .service-item .text {
    display: inline-flex;
    align-items: center;
  }

  .employee-item .img {
    display: inline-block;
    height: 24px;
    width: 24px;

    margin-right: 10px;
    background: #eee;
  }

  .employee-item .text {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
  }

  .flex {
    display: flex;
    align-items: center;
  }

  .space-between {
    justify-content: space-between;
  }

  .w-10 {
    width: 10%;
  }

  .w-20 {
    width: 20%;
  }

  .w-30 {
    width: 30%;
  }

  .w-40 {
    width: 40%;
  }

  .w-50 {
    width: 50%;
  }

  .w-60 {
    width: 60%;
  }

  .w-70 {
    width: 70%;
  }

  .w-80 {
    width: 80%;
  }

  .w-90 {
    width: 90%;
  }

  .w-100 {
    width: 100%;
  }

  .flex-item {
    flex-grow: 1;
  }

  .clickable {
    cursor: pointer;
    user-select: none;
  }

  input.date-picker {
    height: 100%;
    width: 100%;

    padding: 10px;
    font-size: 12px;
    width: 88px;

    align-self: center;
  }

  input.error {
    border: 1px solid red;
  }

  .summary {
    width: 60%;
    margin: auto;
  }

  .summary th {
    padding: 11px 0;
    width: 30%;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
  }

  .summary td {
    vertical-align: top;
    padding: 11px 0;
  }

  .confirm {
    width: 60%;
    margin: auto;
    margin-top: 15px;
  }

  .confirm > label {
    display: block;
    margin-bottom: 5px;
  }

  .actions > ul > li.disabled > a {
    background: #aaa;
    pointer-events: none;
  }

  ul.navigation > li.disabled > a {
    filter: grayscale(100%);
    pointer-events: none;
  }

  .ui-select-container > a {
    border: 1px solid #e6e6e6 !important;
  }

  .input-date-time-picker {
    position: static;
    margin-right: 10px;
  }

  .input-date-time-picker > .form-control {
    width: 100px;
    height: 26px;
    padding: 10px;
  }

  .input-date-time-picker > .input-group-addon {
    padding: 4px;
    height: 26px;
  }

  .logo {
    display: flex;
    justify-content: center;

    margin-bottom: 25px;

    padding-left: 75px;
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 20px;

    border-bottom: 4px solid #F1D1D4;
  }

  .logo > img.logo-1 {
    width: 100%;
    max-width: 230px;
    max-height: 77px;
  }

  .logo > img.logo-2 {
    display: none;
    width: 100%;
    max-width: 240px;
    height: 60px;
  }

  .actions ul.center {
    justify-content: center;
  }

  .actions ul.center li:first-child {
    display: none;
  }

  .actions ul.center li a {
    width: auto !important;
    padding: 0 15px !important;
  }

  .select2-results .select2-highlighted:hover {
    color: #666;
  }

  .payment-header {
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding-left: 2px;
    margin-bottom: 10px;
  }

  .form-control {
    border-radius: 0;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: #CC5D63;

    font-size: 12px;
    font-weight: bolder;

    width: 100%;
    height: 50px;
  }

  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
  }
</style>

<div class="lds-container" ng-if="$ctrl.loading">
  <div class="lds-facebook"><div></div><div></div><div></div></div>
</div>
<div class="booking-container">
  <div class="form-wrapper">
    <form name="templateForm" class="wizard" novalidate>
      <div class="logo">
        <img class="logo-1" alt="Logo" src="assets/images/logo-2.png"/>
        <img class="logo-2" alt="Logo" src="assets/images/logo-1.png"/>
      </div>
      <div class="block">
        <div class="content" ng-switch="$ctrl.step">
          <section ng-switch-when="1">
            <h4></h4>
            <h3>Basic details</h3>
            <div class="form-row">
              <div class="form-holder w-100">
                <i class="zmdi zmdi-account"></i>
                <input type="text" class="form-control" ng-class="{ error: templateForm.name.$touched && templateForm.name.$invalid }"
                  placeholder="Name" name="name" ng-model="$ctrl.form.info.name" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-holder w-100">
                <i class="zmdi zmdi-account"></i>
                <input type="text" class="form-control" ng-class="{ error: templateForm.phone.$touched && templateForm.phone.$invalid }"
                  ui-mask="999-999-9999"
                  ui-mask-placeholder
                  ui-mask-placeholder-char="_"
                  placeholder="Phone Number" name="phone" ng-model="$ctrl.form.info.phone" required>
              </div>
            </div>
          </section>
          <section ng-switch-when="2">
            <h3>Pick Service</h3>

            <div class="list">
              <div class="list-item service-item clickable" ng-class="{ active: $ctrl.form.groups[item.id].active }"
                ng-repeat="item in $ctrl.groups"
                ng-click="$ctrl.form.groups[item.id].active = !$ctrl.form.groups[item.id].active">
                <span class="text">{{ item.name }}</span>
              </div>
            </div>
          </section>
          <section ng-switch-when="3">
            <h3>Pick Service</h3>

            <div class="list">
              <div class="list-item service-item clickable" ng-class="{ active: $ctrl.form.services[item.id].active }"
                ng-repeat="item in $ctrl.services"
                ng-click="$ctrl.form.services[item.id].active = !$ctrl.form.services[item.id].active">
                <div class="img">
                  <img alt="" ng-src="{{ item.img }}"/>
                </div>
                <span class="text">{{ item.name }}</span>
              </div>
            </div>
          </section>
          <section ng-switch-when="4">
            <h3>Pick Employee</h3>

            <div class="list">
              <div class="list-item flex space-between"
                ng-repeat="item in $ctrl.services"
                ng-if="$ctrl.form.services[item.id].active">

                <div class="flex-item service-item w-70">
                  <div class="img">
                    <img alt="" ng-src="{{ item.img }}"/>
                  </div>

                  <div class="text">{{ item.name }}</div>
                </div>

                <div class="flex-item w-30">
                  <ui-select class="w-100" ng-model="$ctrl.form.services[item.id].employeeId" theme="select2" title="Choose a employee" append-to-body="1">
                    <ui-select-match placeholder="Select a employee">
                      {{ $select.selected.name }}
                    </ui-select-match>
                    <ui-select-choices repeat="employee.id as employee in $ctrl.employees | filter:{ service_id: item.id.toString() }:true | propsFilter: { name: $select.search }">
                      <div class="flex-item employee-item">
                        <div class="img">
                          <img alt="" ng-src="{{ employee.img }}"/>
                        </div>

                        <div class="text" ng-bind-html="employee.name | highlight: $select.search"></div>
                      </div>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
            </div>
          </section>
          <section ng-switch-when="5">
            <h3>Pick Date</h3>

            <div class="list">
              <div class="list-item flex space-between"
                ng-class="{ error: $ctrl.isCurrentServiceOverlap(item.id) }"
                ng-repeat="item in $ctrl.services"
                ng-if="$ctrl.form.services[item.id].active">

                <div class="flex flex-item service-item w-80" style="align-items: center">
                  <div class="img">
                    <img alt="" ng-src="{{ item.img }}"/>
                  </div>

                  <div style="display: inline-flex; flex-flow: column">
                    <span>{{ item.name }}</span>
                    <b><small>Employee: {{ $ctrl.employeesMap[$ctrl.form.services[item.id].employeeId].name }}</small></b>
                  </div>
                </div>

                <div class="flex flex-item" style="justify-content: flex-end">
                  <div class="input-group input-date-time-picker" datetimepicker
                    ng-model="$ctrl.form.services[item.id].date"
                    on-change="$ctrl.onDateChange(item)"
                    options="{
                    format: 'MM/DD/YYYY',
                    enabledDates: $ctrl.getEnabledDate(item),
                    showClose: true
                    }" >
                    <input class="form-control" />
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>

                  <ui-select ng-if="$ctrl.form.services[item.id].date" ng-model="$ctrl.form.services[item.id].time"
                    theme="select2" title="Choose time" append-to-body="1" style="width: 120px;" >
                    <ui-select-match placeholder="Select time">
                      {{ $select.selected.text }}
                    </ui-select-match>
                    <ui-select-choices
                      repeat="time.value as time in $ctrl.getAvailableTimes(item)">
                      <div class="flex-item">
                        <div class="text" ng-bind-html="time.text | highlight: $select.search"></div>
                      </div>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>

              <em ng-if="$ctrl.getOverlap().validateOverlap.length" style="color: red">Services are overlapped time. Please repick.</em>
            </div>
          </section>
          <section ng-switch-when="6">
            <h4></h4>
            <h3>Summary</h3>
            <div class="summary">
              <table cellspacing="0">
                <tr>
                  <th>Name</th>
                  <td data-title="Subtotal">
                    <span>{{ $ctrl.form.info.name }}</span>
                  </td>
                </tr>
                <tr>
                  <th>Phone</th>
                  <td data-title="Subtotal">
                    <span>{{ $ctrl.form.info.phone }}</span>
                  </td>
                </tr>
                <tr>
                  <th>Services</th>
                  <td>
                    <div ng-repeat="item in $ctrl.services"
                      ng-if="$ctrl.form.services[item.id].active"
                      style="margin-bottom: 5px;">
                      <span>{{ item.name }} by <b>{{ $ctrl.employeesMap[$ctrl.form.services[item.id].employeeId].name }}</b></span>
                      <span>at
                        <b>{{ $ctrl.form.services[item.id].time.start.valueOf() | date:'short' }}</b>
                      </span>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </section>
          <section ng-switch-when="7">
            <h3>Payment</h3>
            <p class="text-muted" style="margin-bottom: 5px; color: #BB565A; font-weight: bold;">Note: Minimum deposit $20</p>

            <div style="border: 2px solid #eee; border-radius: 10px; padding: 20px; display: flex; justify-content: space-between; margin-bottom: 20px">
              <ul class="w-70" style="border-right: 2px solid #eee;">
                <li ng-repeat="item in $ctrl.services"
                  ng-if="$ctrl.form.services[item.id].active">
                  <span>{{ item.name }} by <b>{{ $ctrl.employeesMap[$ctrl.form.services[item.id].employeeId].name }}</b></span>
                  <span>at
                    <b>{{ $ctrl.form.services[item.id].time.start.valueOf() | date:'short' }}</b>
                  </span>
                </li>
              </ul>

              <div class="w-30" style="display: flex; justify-content: center; align-items: center">
                <span class="booking-price">${{ $ctrl.bookingInfo.price }}</span>
              </div>
            </div>

            <hr/>

            <span class="payment-header">Credit Card</span>

            <div class="form-row">
              <div class="form-holder w-100">
                <i class="zmdi zmdi-card"></i>
                <input type="text" class="form-control" ng-class="{ error: templateForm.cardNumber.$touched && templateForm.cardNumber.$invalid }"
                  ui-mask="9999-9999-9999-9999"
                  ui-mask-placeholder
                  ui-mask-placeholder-char="_"
                  placeholder="Card Number" name="cardNumber" ng-model="$ctrl.form.payment.cardNumber" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-holder w-100">
                <i class="zmdi zmdi-account"></i>
                <input type="text" class="form-control" ng-class="{ error: templateForm.cardName.$touched && templateForm.cardName.$invalid }"
                  placeholder="Name On Card" name="cardName" ng-model="$ctrl.form.payment.cardName" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-holder">
                <i class="zmdi zmdi-calendar"></i>
                <input type="text" class="form-control" ng-class="{ error: templateForm.cardExpiry.$touched && templateForm.cardExpiry.$invalid }"
                  ui-mask="99/99"
                  ui-mask-placeholder
                  ui-mask-placeholder-char="_"
                  placeholder="Expiry Date" name="cardExpiry" ng-model="$ctrl.form.payment.cardExpiry" required>
              </div>
              <div class="form-holder">
                <i class="zmdi zmdi-shield-security"></i>
                <input type="text" class="form-control" ng-class="{ error: templateForm.cardCVV.$touched && templateForm.cardCVV.$invalid }"
                  ui-mask="999"
                  ui-mask-placeholder
                  ui-mask-placeholder-char="_"
                  placeholder="Security Code" name="cardCVV" ng-model="$ctrl.form.payment.cardCVV" required>
              </div>
            </div>

            <hr/>

            <span class="payment-header">Billing Address</span>
            <div class="form-row">
              <div class="form-holder w-100">
                <i class="zmdi zmdi-city"></i>
                <input type="text" class="form-control" ng-class="{ error: templateForm.streetAddress.$touched && templateForm.streetAddress.$invalid }"
                  placeholder="Street Address" name="streetAddress" ng-model="$ctrl.form.address.streetAddress" required>
              </div>
            </div>
            <div class="form-row form-address">
              <div class="form-holder">
                <i class="zmdi zmdi-city-alt"></i>
                <input type="text" class="form-control" ng-class="{ error: templateForm.city.$touched && templateForm.city.$invalid }"
                  placeholder="City" name="city" ng-model="$ctrl.form.address.city" required>
              </div>
              <div class="form-holder">
                <i class="zmdi zmdi-folder-star-alt"></i>
                <input type="text" class="form-control" ng-class="{ error: templateForm.state.$touched && templateForm.state.$invalid }"
                  placeholder="State" name="state" ng-model="$ctrl.form.address.state" required>
              </div>
              <div class="form-holder">
                <i class="zmdi zmdi-code"></i>
                <input type="text" class="form-control" ng-class="{ error: templateForm.zipCode.$touched && templateForm.zipCode.$invalid }"
                  placeholder="Zip Code" name="zipCode" ng-model="$ctrl.form.address.zipCode" required>
              </div>
            </div>
          </section>
        </div>

        <div class="confirm" ng-class="{ hidden: $ctrl.step !== 6 }">
          <label><input ng-model="$ctrl.form.confirm.term" type="checkbox" /> I have read and understand the <a href="/#!/term-of-service" target="_blank">Privacy policy</a></label>
          <label><input ng-model="$ctrl.form.confirm.cookie" type="checkbox" /> I have read and agree to the <a href="/#!/term-of-service" target="_blank">Term Of Use</a> and <a href="/#!/term-of-service" target="_blank">Cookies Policy</a></label>
        </div>

        <div class="actions clearfix">
	        <ul role="menu" ng-class="{ 'center': $ctrl.step > 5 }">
	          <li ng-class="{ hidden: $ctrl.step > 5 }">
              <a ng-click="$ctrl.prevStep()" role="menuitem">Back</a>
	          </li>
	          <li ng-class="{ hidden: $ctrl.step > 5, disabled: $ctrl.disableNext(templateForm) }">
              <a ng-click="$ctrl.nextStep()" role="menuitem">Continue</a>
	          </li>
	          <li class="hidden" ng-class="{ show: $ctrl.step === 6 , disabled: $ctrl.disableNext(templateForm) }">
              <a ng-click="$ctrl.book()" role="menuitem">Proceed to checkout</a>
	          </li>
            <li class="hidden" ng-class="{ show: $ctrl.step === 7 , disabled: $ctrl.disableNext(templateForm) }">
              <a ng-click="$ctrl.charge()" role="menuitem">Complete Transaction</a>
	          </li>
	        </ul>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="footer-container">
  <div class="footer">
    <span ng-style="{ color: $ctrl.window.appConfig['banner-color'] }">
      {{ $ctrl.window.appConfig['banner-text'] }}
    </span>
  </div>
</div>
